.grid {
    margin: 50px auto;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: auto repeat(2,1fr) auto;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.grid div{
    background-color: #403f3f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}